<ion-content >
  <div class="box1">
    <h1>Welcome To Fresty</h1>
    <p>Sign in to your account</p>

    <ion-item color="dark">
    <ion-icon name="person"></ion-icon>&nbsp;&nbsp;<ion-input type="text" placeholder="Username" ></ion-input>
    </ion-item><br>
    <ion-item color="dark">
      <ion-icon name="lock-closed"></ion-icon>&nbsp;&nbsp;<ion-input type="password" placeholder="Password"></ion-input>
    </ion-item><br>
    <ion-button class="signinbutton" fill="clear">Sign in</ion-button>
  </div>
  <div class="box2">
    <ion-button fill="clear" class="googlebutton"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with Google</ion-button>
    <ion-button  fill="clear" class="guestbutton"><ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Continue as a Guest</ion-button>
    <p style="text-align: center;">Oh,new to Fresty? <a class="link" href="signup"> Sign Up</a></p>
  </div>

</ion-content>
 




