<ion-content >

  <ion-button color="light" class="backbutton" href="/signin">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>  

  <div class="box1" >
  <p>Create<br> Account</p>
  </div>

  <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
  <div class="box2">
  
  <ion-item color="dark">
  <ion-icon name="person"></ion-icon>&nbsp;&nbsp;<ion-input type="text" formControlName="username" placeholder="Username"  ></ion-input>
  </ion-item><br> 

  <ion-item color="dark">
    <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;<ion-input type="email" formControlName="email" placeholder="Email Address" ></ion-input>
  </ion-item><br>

  <ion-item color="dark">
    <ion-icon name="lock-closed"></ion-icon>&nbsp;&nbsp;<ion-input type="password" formControlName="password" placeholder="Password" ></ion-input>
  </ion-item><br>

  <ion-item color="dark">
  <ion-icon name="lock-closed"></ion-icon>&nbsp;&nbsp;<ion-input type="password" formControlName="confirmpassword" placeholder="Confirm Password" ></ion-input>
  </ion-item><br>
  </div>

  <div class="box3">
  <ion-button class="nextbutton" type="button" (click)="signUp()" fill="clear" [disabled]="!userDetailsForm.valid" >Sign up</ion-button>
  </div> 

</form>

</ion-content>
