ion-content {
    --background: #fff url("../../assets/signup.jpg") no-repeat left center / cover;
}


p{
    font-size: 35px;
    color: #000;
    font-weight: 700;
}


.box1{
    margin-left: 50px;
    margin-top: 10px;
}

.box2{
    margin-left: 50px;
    margin-top: 30;
}

.box3{
    margin-left: 210px;
    margin-top: 40px;
}

.backbutton{
    margin-top: 20px;
    margin-left: 40px;
}

ion-input{
    font-size: 15px;
}

ion-item{
    max-width: 80%;
    border-radius: 5px;
}


.nextbutton {
    margin-right: 200px;
    width: 90px;
    font-size: 15px;
    color: white;
    background-color:#7EC67F;
    border-radius: 8px;
}


