<ion-content >

  
  <ion-button color="light" class="backbutton" href="/signin">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>  

  <div class="box1" >
  <p>Create<br> Account</p>
  </div>

  <form  #formSignup="ngForm">
  <div class="box2">
  
  <ion-item color="dark">
  <ion-icon name="person"></ion-icon>&nbsp;&nbsp;<ion-input type="text" name="userName" placeholder="Username" required  ngModel ></ion-input>
  </ion-item><br> 
  <ion-item color="dark">
    <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;<ion-input type="email" name="email" placeholder="Email Address" required  ngModel></ion-input>
  </ion-item><br>
  <ion-item color="dark">
    <ion-icon name="lock-closed"></ion-icon>&nbsp;&nbsp;<ion-input type="password" name="password" placeholder="Password" required  ngModel></ion-input>
  </ion-item><br>
  <ion-item color="dark">
    <ion-icon name="lock-closed"></ion-icon>&nbsp;&nbsp;<ion-input type="password" name="confirmPassword" placeholder="Confirm Password" required  ngModel></ion-input>
  </ion-item><br>
  </div>

  <div class="box3">
  <ion-button class="nextbutton" fill="clear" [disabled]="formSignup.invalid">Next</ion-button>
  </div> 
</form>

</ion-content>
