<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnm0CqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Candal|Lora&display=swap" rel="stylesheet">
</head> 

<header>
    <div class="logo">
        <h1 class="logo-text"><span>Fresty</span>Dashboard</h1>
    </div>
    <i class="fa fa-bars menu-toggle"></i>
    <ul class="nav">
        <li>
            <a href="http://localhost:4200/getstarted/product/signin">
                <i class="fa fa-user"></i>
                Logout
            </a>
        </li>
    </ul>
</header>

<div id="invoice">
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">            
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <h2 class="to">Name: User name</h2>
                        <div class="email">Mail: <a href="mailto:fresty@example.com">abc@example.com</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">USER HISTORY</h1>
                        <div class="date">Login Date: </div>
                        <input type="date" id="logindate" name="logindate">
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th class="text-left"><b>ITEMS</b></th>
                            <th class="text-right"><b>QUALITY RESULT</b></th>
                            <!-- <th class="text-right">COLOR EXTRACTION</th>
                            <th class="text-right">SHAPE EXTRACTION</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no">01</td>
                            <td class="text-left"><h3>Tomato</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">30</td>
                            <td class="total">10</td> -->
                        </tr>
                        <tr>
                            <td class="no">02</td>
                            <td class="text-left"><h3>Potato</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">30</td>
                            <td class="total">10</td> -->
                        </tr>
                        <tr>
                            <td class="no">03</td>
                            <td class="text-left"><h3>Onion</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">80</td>
                            <td class="total">50</td> -->
                        </tr>
                        <tr>
                            <td class="no">04</td>
                            <td class="text-left"><h3>Red Apple</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">20</td>
                            <td class="total">10</td> -->
                        </tr>
                        <tr>
                            <td class="no">05</td>
                            <td class="text-left"><h3>Orange</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">20</td>
                            <td class="total">40</td> -->
                        </tr>
                        <tr>
                            <td class="no">06</td>
                            <td class="text-left"><h3>Green Apple</h3></td>
                            <td class="unit">Good or Bad</td>
                            <!-- <td class="qty">20</td>
                            <td class="total">10</td> -->
                        </tr>
                    </tbody>
                   
                </table><br>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">The Dashboard will be updated each time when you login from your FRESTY mobile application.</div>
                </div>
            </main>
            <footer>
                    Copyrights Reserved ©2020 FRESTY
            </footer>
        </div>
        <div></div>
    </div>
</div>
