ion-content {
    --background: #fff url("../../assets/account.jpg") no-repeat left center / cover;
}

.logoutbutton {
    color: white;
    background-color:#7EC67F;
    border-radius: 8px;
    margin-left: 300px;
    margin-top: 12px;
}

p{
    font-size: 20px;
    color: white
}

h1{
    font-size: 40px;
    color: white;
}

.imageSelector{
    color: white;
    margin-top: 170px;
}