<ion-header >
  <p>FRESTY</p>
</ion-header>

<ion-content >
  <gl-background-video src="assets/video/fruits.mp4" mute="false"></gl-background-video>

  <div class="homePage">
  <div class="content">
    <h2>Fruits &nbsp; | &nbsp; Vegetables &nbsp; | &nbsp; Quality</h2>
    <br>
    <ion-button color="danger" href="/signin"><ion-icon name="scan-outline"></ion-icon>&nbsp; GET STARTED</ion-button>

    <div class="button-container">
      <ion-button fill="clear" color="light" size="large"></ion-button>
    </div>
  </div>
  </div>
</ion-content>
